
  <h2>Professores</h2>
  
  <div class="row">
      <div class="col-md-12">
        <div class="pull-left">
          <a class="btn btn-primary" id="novoEvento" [routerLink]="['/professores/novo']">
            <span title="Novo" class="glyphicon glyphicon-plus-sign"></span> Novo
          </a>
        </div>
      </div>
    </div>
    
    <br>

  <div class="page-size">
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de nascimento</th>           
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let professor of professores">
            <td>{{professor.nome}}</td>
            <td>{{professor.sobrenome}}</td>
            <td>{{professor.dataNascimento | date:'dd/MM/yyyy' }}</td>   
            <td>
              <a title="Detalhes" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Saber Mais
              </a>
            </td>
          </tr>         
          <tr *ngIf="!exibirResultados">
              <td colspan="3">Nenhum registro encontrado</td>
          </tr>
        </tbody>
      </table>
    </div>