<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<footer class="container-fluid text-center bg-lightgray">

        <div class="copyrights" style="margin-top:25px;">
            <p>Marcos Freire © 2019, Teste Tecnico Lambda3
            <br>                
            <p><a href="https://www.github.com./marcosfreire" style="text-decoration: none !important;" target="_blank">github.com./marcosfreire</a></p>
        </div>
</footer>
