<div class="">
    <hr />

    <h2>Teste Tecnico Lambda3</h2>

    <hr />

    <p><strong>Vaga: </strong><span>Pessoa desenvolvedora de software</span></p>
    <p><strong>Canditato: </strong><span><a href="https://github.com/marcosfreire" target="_blank">Marcos Freire</a></span></p>

    <hr />

    <p><strong>Requisitos básicos:</strong></p>

    <ul>
        <li>Desenvolver um back-end em C#</li>
        <li>
            <span>Desenvolver um front-end em SPA (Angular ou React). </span>
            <strong>{{</strong>
            <span> Framework escolhido :</span>
            <strong>
                <code><a href="https://angular.io/" target="_blank">Angular</a></code> }}
            </strong>
        </li>
        <li>Conversa para conhecer melhor o candidato</li>
    </ul>

    <hr />
</div>