<h2>Novo Professor</h2>
<h5>Preencha corretamente os dados</h5>
<hr />

<form (ngSubmit)="adicionarProfessor()">

  <div class="form-horizontal">

    <div class="form-group">
      <label class="col-md-1" for="nome">Nome</label>
      <div class="col-md-4">
        <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="professor.nome" id="nome"
          type="text" placeholder="Nome (requerido)" />
      </div>
    </div>

    <div class="form-group">
      <label for="dataNascimento" class="col-md-1">Data de Nascimento</label>
      <div class="col-md-4">
        <my-date-picker id="dataNascimento" [ngModelOptions]="{standalone: true}" [(ngModel)]="professor.dataNascimento"
          placeholder="Data de nascimento" name="dataInicio" [options]="myDatePickerOptions"></my-date-picker>
      </div>
    </div>

    <div class="form-group">
      <label for="courseId" class="col-md-1">Disciplina</label>
      <div class="col-md-4">
        <select class="form-control form-control-lg" id="courseId"  [(ngModel)]="idCursoSelecionado" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let disciplina of disciplinas" value="{{disciplina.id}}">{{ disciplina.nome }}</option>
        </select>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary" id="novaDisciplina" (click)="adicionarDisciplina()">
          <span title="Novo" class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </div>
    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>Disciplina</th>     
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let disciplina of disciplinasSelecionadas">
            <td>{{course.name}}</td>
            <td>
              <a title="Remover" class="btn btn-danger" (click)="removerDisciplina(disciplina.id)" >
                <span class="glyphicon glyphicon-search"></span>Remover
              </a>
            </td>
          </tr>         
          <tr *ngIf="!exibirTabelaDisciplinas">
              <td colspan="3">Nenhum registro encontrado</td>
          </tr>
        </tbody>
      </table>

    <div class="row">
      <div class="col-md-12">
        <div class="pull-left">
          <button type="submit" class="btn btn-primary">Adicionar</button>
        </div>
      </div>
    </div>

  </div>

</form>